<lib-container fluid>
  <h1>MUI Button Component</h1>
  <lib-panel>
    <h3>Default buttons</h3>
    <div>
      <lib-button>Button</lib-button>
      <lib-button color="primary">Button</lib-button>
      <lib-button color="danger">Button</lib-button>
      <lib-button color="dark">Button</lib-button>
      <lib-button color="accent">Button</lib-button>
    </div>
    <div>
      <lib-button [disabled]="true">Button</lib-button>
      <lib-button [disabled]="true" color="primary">Button</lib-button>
      <lib-button [disabled]="true" color="danger">Button</lib-button>
      <lib-button [disabled]="true" color="dark">Button</lib-button>
      <lib-button [disabled]="true" color="accent">Button</lib-button>
    </div>
  </lib-panel>

  <lib-panel>
    <h3>Flat buttons</h3>
    <div>
      <lib-button variant="flat">Button</lib-button>
      <lib-button variant="flat" color="primary">Button</lib-button>
      <lib-button variant="flat" color="danger">Button</lib-button>
      <lib-button variant="flat" color="dark">Button</lib-button>
      <lib-button variant="flat" color="accent">Button</lib-button>
    </div>
    <div>
      <lib-button variant="flat" [disabled]="true">Button</lib-button>
      <lib-button variant="flat" [disabled]="true" color="primary"
        >Button</lib-button
      >
      <lib-button variant="flat" [disabled]="true" color="danger"
        >Button</lib-button
      >
      <lib-button variant="flat" [disabled]="true" color="dark"
        >Button</lib-button
      >
      <lib-button variant="flat" [disabled]="true" color="accent"
        >Button</lib-button
      >
    </div>
  </lib-panel>

  <lib-panel>
    <h3>Raised buttons</h3>
    <div>
      <lib-button variant="raised">Button</lib-button>
      <lib-button variant="raised" color="primary">Button</lib-button>
      <lib-button variant="raised" color="danger">Button</lib-button>
      <lib-button variant="raised" color="dark">Button</lib-button>
      <lib-button variant="raised" color="accent">Button</lib-button>
    </div>
    <div>
      <lib-button variant="raised" [disabled]="true">Button</lib-button>
      <lib-button variant="raised" [disabled]="true" color="primary"
        >Button</lib-button
      >
      <lib-button variant="raised" [disabled]="true" color="danger"
        >Button</lib-button
      >
      <lib-button variant="raised" [disabled]="true" color="dark"
        >Button</lib-button
      >
      <lib-button variant="raised" [disabled]="true" color="accent"
        >Button</lib-button
      >
    </div>
  </lib-panel>

  <lib-panel>
    <h3>Floating action buttons</h3>
    <div>
      <lib-button variant="fab">+</lib-button>
      <lib-button variant="fab" color="primary">+</lib-button>
      <lib-button variant="fab" color="danger">+</lib-button>
      <lib-button variant="fab" color="dark">+</lib-button>
      <lib-button variant="fab" color="accent">+</lib-button>
    </div>
    <div>
      <lib-button variant="fab" [disabled]="true">+</lib-button>
      <lib-button variant="fab" [disabled]="true" color="primary">+</lib-button>
      <lib-button variant="fab" [disabled]="true" color="danger">+</lib-button>
      <lib-button variant="fab" [disabled]="true" color="dark">+</lib-button>
      <lib-button variant="fab" [disabled]="true" color="accent">+</lib-button>
    </div>
  </lib-panel>

  <lib-panel>
    <h3>Button sizes</h3>
    <div>
      <lib-button size="small" color="primary">button</lib-button>
      <lib-button size="small" variant="flat" color="primary"
        >button</lib-button
      >
      <lib-button size="small" variant="raised" color="primary"
        >button</lib-button
      >
      <lib-button size="small" variant="fab" color="primary">+</lib-button>
    </div>
    <div>
      <lib-button color="primary">button</lib-button>
      <lib-button variant="flat" color="primary">button</lib-button>
      <lib-button variant="raised" color="primary">button</lib-button>
      <lib-button variant="fab" color="primary">+</lib-button>
    </div>
    <div>
      <lib-button size="large" color="primary">button</lib-button>
      <lib-button size="large" variant="flat" color="primary"
        >button</lib-button
      >
      <lib-button size="large" variant="raised" color="primary"
        >button</lib-button
      >
      <lib-button size="large" variant="fab" color="primary">+</lib-button>
    </div>
  </lib-panel>
</lib-container>
