<lib-container fluid>
  <h1>MUI Divider Component</h1>
  <lib-panel>
    <h2>mui-divider</h2>
    <div>Content 1</div>
    <lib-divider></lib-divider>
    <div>Content 2</div>

    <h2>mui--divider-top</h2>
    <div>Content 1</div>
    <lib-divider location="top">Divider Top</lib-divider>

    <h2>mui--divider-bottom</h2>
    <lib-divider location="bottom">Divider Bottom</lib-divider>
    <div>Content 2</div>

    <h2>mui--divider-left</h2>
    <div>
      <span>Content 1</span>
      <lib-divider location="left">Divider Left</lib-divider>
    </div>

    <h2>mui--divider-right</h2>
    <div>
      <lib-divider location="right">Divider Right</lib-divider>
      <span>Content 2</span>
    </div>
  </lib-panel>
</lib-container>
