<lib-container fluid>
  <h1>MUI Form Component</h1>
  <h2>Input - reactive</h2>
  <lib-panel>
    <div>
      <form [formGroup]="inputForm" (ngSubmit)="submitInputReactiveForm()">
        <div>
          <lib-input
            id="firstName"
            formControlName="firstName"
            label="First Name"
            placeholder="Enter first name"
            autofocus="true"
          ></lib-input>
        </div>
        <div>
          <lib-input
            id="lastName"
            formControlName="lastName"
            label="Last Name"
            placeholder="Enter last name"
          ></lib-input>
        </div>
        <div>
          <lib-input
            id="email"
            formControlName="email"
            label="Email"
            placeholder="Enter email"
            type="email"
          ></lib-input>
        </div>
        <div>
          <lib-input
            id="password"
            formControlName="password"
            label="Password"
            placeholder="Enter password"
            type="password"
            minlength="8"
          ></lib-input>
        </div>
        <div>
          <lib-input
            id="age"
            formControlName="age"
            label="Age"
            placeholder="Enter age"
            type="number"
            min="18"
            max="100"
          ></lib-input>
        </div>
        <br />
        <lib-button [disabled]="!inputForm.valid || !inputForm.dirty"
          >Submit</lib-button
        >
      </form>
      <p>Form Value: {{ inputForm.value | json }}</p>
      <p>Form Status: {{ inputForm.status }}</p>
      <p>Form Valid: {{ inputForm.valid }}</p>
    </div>
  </lib-panel>

  <h2>Input - template driven</h2>
  <lib-panel>
    <form
      class="mui-form"
      #f="ngForm"
      (ngSubmit)="submitInputTemplateForm(f)"
      ngNativeValidate
    >
      <legend>Inputs</legend>
      <lib-input
        label="First Name (required)"
        [(ngModel)]="firstName"
        name="first"
        placeholder="enter first name here"
        required="true"
      ></lib-input>
      <lib-input
        label="Last Name (required)"
        [(ngModel)]="lastName"
        name="last"
        placeholder="enter last name here"
        required="true"
      >
      </lib-input>
      <lib-button
        variant="raised"
        size="small"
        color="primary"
        [disabled]="!f.valid"
        >Submit</lib-button
      >
    </form>
    <p>First name value: {{ firstName }}</p>
    <p>Last name value: {{ lastName }}</p>
    <p>Form value: {{ f.value | json }}</p>
    <p>Form valid: {{ f.valid }}</p>
  </lib-panel>
</lib-container>
